@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
.hero-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-section p {
    font-size: 3rem;
    text-transform: capitalize;
  }
  
  .hero-section h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* responsive css style  */
  @media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
  
    .logo,
    .menu-link ul,
    .social-media ul {
      height: 8rem;
    }
  }
  